.avatar__style {
  display: inline-block;
  position: relative;
}

.statusIndicator {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #00ff08; /* Green for online status */
  color: var(--online_user_icon); /* Color for the online indicator */
  font-size: calc(var(--avatar_size) / 5); /* Adjust the size as needed */
  position: absolute;
  left: 80%;
  top: calc(var(--avatar_size) / 1.4);
}


.avatar__dimentions {
  height: var(--avatar_size);
  width: var(--avatar_size);
}

.image__full_circle {
    border-radius: 50%;
  }
  
/*This class is needed only if we need to reverse the row order of the message */
.image__switch_order {
    order: 2;
  }
  