.discussion_panel_bar {
    width: 40%; 
    height: 100vh;
    overflow-y: auto;
    background-color: var(--discussion_panel_back_color);
  }
  
  /* ////////// */
  /* .discussion_panel_bar::-webkit-scrollbar {
    width: 0; /* Adjust the width as needed */
  /* }  */
  .discussion_panel_bar::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  .discussion_panel_bar::-webkit-scrollbar-track {
    background: #b1b7ec;
  }
  
  /* Handle */
  .discussion_panel_bar::-webkit-scrollbar-thumb {
    background: #0b1869;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  .discussion_panel_bar::-webkit-scrollbar-thumb:hover {
    background: #030136;
  }
  /* /////////////////: */

  .discussions_bar_swither
  {
    width: 20px;
    background-color:var(--discussion_panel_back_color);
    border: 0;
    cursor: pointer;
    font-size: larger;
    font-weight: bolder;
    color: white;
  }

  .discussions_bar_swither:hover
  {
    background-color: rgb(123, 123, 255);
  }

  @media (max-width:650px) 
  {
    .discussion_panel_bar {
      width: 300vw;
    }
  
  }