
.discussion_panel_bar {

  width: 30%; 
  height: 100vh;
  overflow-y: auto;
  background: linear-gradient(180deg, rgb(70, 63, 163) 0%,  rgb(14, 9, 87) 100%);

  /* background-color: var(--discussion_panel_back_color); */
  z-index: 10000;
  border-right: solid 6px black;
  z-index: 10000;
  }
  
  /* ////////// */
  /* .discussion_panel_bar::-webkit-scrollbar {
    width: 0; /* Adjust the width as needed */
  /* }  */
  .discussion_panel_bar::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  .discussion_panel_bar::-webkit-scrollbar-track {
    background: #b1b7ec;
  }
  
  /* Handle */
  .discussion_panel_bar::-webkit-scrollbar-thumb {
    background: #0b1869;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  .discussion_panel_bar::-webkit-scrollbar-thumb:hover {
    background: #030136;
  }
  /* /////////////////: */


  @media (max-width:650px) 
  {
    .discussion_panel_bar {
      width: 95%;
    }
  
  }