.radio_modal{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: rgba(108, 173, 251, 0.95) ;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid black;
    position: absolute;
}

.radio_modal h3{
    border-bottom: 1px solid red;
    font-size:medium;
    text-transform: uppercase;

}


.radio_option {
    margin-block: 5px;
    font-size: large;
    text-align: left;
    margin-left: 10px;
}


.radio_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Split the available space into two equal columns */
    gap: 20px; /* Add some gap between the elements */
    margin: 15px;
}

.radio_buttons button {
    font-weight: bold;
    font-size: medium;
    border: none;
    border-radius: 6px;
    padding: 8px;
    cursor: pointer;
}
.radio_buttons button:first-child {
    color: aliceblue;
    background-color: red;
}
.radio_option h3{
    border-top: 2px  solid red;
    margin-block: 5px;
}



@media (max-width:650px) 
{
    .radio_modal{
        width: 150px;
        position: absolute;
        right: 50px;
    }

    .radio_modal h3{
        font-size:small;
    }
    .radio_option {
        font-size: small;
    }
    .radio_buttons button {
        font-size: small;
    }
    
}