.user_action_main_modal {
  /*This class  styles the parent of the modal component */
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.user_action_modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15%; /*30% is the space between user info and action buttons*/

  width: 400px;
  height: 500px;
  padding-top: 4%;
  font-size: medium;

  border-radius: 10px;

  background-color: white;
}

.action_targeted_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.action_targeted_user img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: solid 10px rgb(246, 228, 228);
}
.action_targeted_user img:hover {
  cursor: pointer;
  border: solid 10px rgb(0, 0, 0);
}
.interaction_buttons {
  display: flex;
  width: 100%;
  margin-top: 50px;
  justify-content: space-evenly;
}

.action_button {
  display: flex;
  align-items: center;

  border: none;
  border-radius: 15px;

  color: white;
  font-size: large;
  font-weight: bold;

  cursor: pointer;

  padding: 10px 15px;
}

.action_button img {
  width: 25px;
  padding-right: 8px;
}

@media (max-width: 869px) {
  .action_button {
    font-size: small;
  }
  .action_button p {
    display: none;
  }
  .action_button img {
    width: 20px;
    padding-right: 0px;
  }
  .action_button {
    height: 25px;
  }
  .user_action_modal {
    height: 300px;
    width: 250px;
  }
  .user_action_modal h1 {
    font-size: medium;
  }
  .action_targeted_user img {
    width: 100px;
    height: 100px;
  }
}
