.welcoming_page{
    background-color: #7270A8;
    width: 84vw;
    height: 100vh;
}

.user_initiative_talks,  .channel_joins  {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow: scroll;
    overflow-x: hidden; /* This hides the vertical scrollbar */

}
.user_initiative_talks::-webkit-scrollbar,
 .channel_joins::-webkit-scrollbar {
    width: 10px;
  }

  .user_initiative_talks::-webkit-scrollbar-track,
  .channel_joins::-webkit-scrollbar-track {
    background: #ecb1b1;
   }
 
   .user_initiative_talks::-webkit-scrollbar-thumb,
   .channel_joins::-webkit-scrollbar-thumb {
        background: #252525;
    }
    .user_initiative_talks::-webkit-scrollbar-thumb:hover,
    .channel_joins::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
   
 
.welcoming_page_talks__title {
    color: white;
    font-size: 15px;
    font-weight: bolder;
    letter-spacing: 6px;
    border-bottom: 3px solid rgb(209, 189, 228);
}


.welcoming_page__init_bubble{
    background-color: #7270A8;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    margin-top: 5%;
}
@media (max-width:650px) 
{
    .welcoming_page{
        width: calc(100vw - 60px);
    }
    .welcoming_page_talks__title{
        font-size: x-small;
    }
    .welcoming_page__init_bubble{
        font-size: 12px;
    }
}