@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}



/*  this code is made by abdellah in homepage part */
.popup {
  animation: showPopup 0.8s ease-in-out forwards;
}

@keyframes showPopup {
  0% {
    opacity: 0;
}
  100% {
    opacity: 1;
  }
}


.hide-popup {
  animation: hidePopup 0.5s ease-in-out forwards;
}

@keyframes hidePopup {
  0% {
    opacity: 1;
}
  100% {
    opacity: 0;
  }
}