.message {
  display: flex;
  flex-direction: row;
  width: 50%;
  gap: var(--message_header_body_spacing);
  word-break: break-all;
  margin-bottom: 40px;
}


/*********-Message body section-****************/

.message_body {
  display: flex;
  flex-direction: column;
}


/*This class styles the main element of message container*/
.message_bubble {
  display: inline-block; /*Making the parent container resizes based on the size of its content*/
  padding: 10px 50px;
  
  border-radius: 20px;

  margin-top: calc(var(--avatar_size) / 2);
  position: relative;
}

/*This class serves a styling for the bubble tail triangle*/

/* |sent message styling| */
.left_tail.message_bubble::after {
  content: "";
  position: absolute;
  bottom: 3px; /* Adjust this value to position the tail */
  left: -15px;
  border-width: 20px; /* Size of the triangle */
  border-style: solid;
  border-color: transparent transparent var(--message_sent_bubble_color);
  transform: rotate(352deg);
}


.message_bubble___sent_style {
  background-color: var(--message_sent_bubble_color);
  color: white;
}

/* |received message styling| */

.right_tail.message_bubble::after {
  content: "";
  position: absolute;
  bottom: 0px; /* Adjust this value to position the tail */
  right: -15px;
  border-width: 20px; /* Size of the triangle */
  border-style: solid;
  border-color: transparent transparent var(--message_received_bubble_color);
  transform: rotate(8deg);
}

.message_bubble___received_style {
  background-color: var(--message_received_bubble_color);
  color: rgb(0, 0, 0);
}

/*|UserName|*/
.message_username__style {
  font-size: large;
  color: red;
  letter-spacing: 1px;
}

/*/***********************/

/***- utils -**/

.message__to_right {
  justify-content: end;

  margin-left: auto;
  text-align: right;
}



@media (max-width:650px) 
{
  .message_bubble {
    font-size: smaller;
      padding: 5px 25px;

  }
  .message_username__style {
    font-size: small;
  }
}