.lol{
    /* border: none;
    outline: none;
    background-color: var(--chat_text_box_back_color); */
    /* background-color: black; */
    /* width: 100%; */
    
} 
 
/* .sendIcon__init_fill{
    fill: rgb(42, 42, 192);

}

.sendIcon__init_fill:hover{
    fill: rgb(213, 159, 32);
}
 */


/* .middlePos {
    position: absolute;
    top: 50%;
    left: 50%;
} */