.button {
    position: relative;
}


.message_bar {
    
    position: relative;
    display: flex;
    justify-content: end;
}

.message_input_bar{
    border: none;
    outline: none;
    resize: none;
    background-color: var(--chat_text_box_back_color); 
    font-size: 25px;
    border-radius: 8px;
    padding: 10px 50px ;
    width: 100%;
    height: 60px;
} 

.message_send_icon {
    width:  82px;
    height: 67px;
    position: absolute;
    /* top: 0;
    right: 0; */

}

.message_send_icon__init_fill{
    fill: rgb(42, 42, 192);
}

.message_send_icon__init_fill:hover{
    fill: rgb(213, 159, 32);
}


.middlePos {
    /* position: absolute;
    top: 50%;
    left: 10%; */

}