/*|Time Stamp styling|*/

.time_stamp {
    padding-left: 20px;
  }
  
  .time_stamp__font_size {
    font-size: small;
    font-weight: bold;
  }
  
  .time_stamp__color_gray {
    color: rgb(125, 139, 158);
  }
  .time_stamp__color_white {
    color: rgb(255, 255, 255);
  }
  
  @media (max-width:650px) 
{
  .time_stamp {
    display: none;
  }
}