.channel_setting{
    display: flex;
    flex-direction:column;
    align-items: center;

    border-radius: 40px;

    height: 700px;
    width: 450px;
    margin-left: 20px;
    position: relative;
}

.channel_setting__img {
    border-radius: 50%;
    height: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.channel_setting button{
    position: absolute;
    bottom: 10px ;

    width: 200px;
    height: 80px;
    background-color: #5C5B8B;
    border: 0;
    border-radius: 50px;
    font-weight: bold;
    cursor: pointer;
}

.channel_setting button:hover{
    background-color: #3e44a0;
}

.type_setter div {
    margin-bottom: 50px;

}

.type_setter select {
    appearance: none;
    background-image: url('/images/icons/Ch/select_arrow.png');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px 16px; 
    
    outline: none;
    text-align: center;
    cursor: pointer;
    height: 45px;
}

.type_setter input {
    color: rgb(241, 226, 226);
    text-indent: 20px;
}

.user_input_fields{
    margin: 0 auto;
    display: block; /* Ensures the margin:auto works correctly */

    width: 400px;
    background-color: #8280BD;
    border: 0;
    height: 40px;
    border-radius: 20px;
    color: white;
    font-size: large;
}