.side_bar_item{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    /* border-radius: 10px; */
    transition: all 0.2s ease-in-out;
    background-color: #24234F;

}

.side_bar_item:hover{
    background-color: #b2d8ff;
}

.side_bar_item__icon img{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.side_bar_item__name{
    font-size: 12px;
    font-weight: bold;
    color: #a276bf;
}

@media (max-width:650px) 
{
    .side_bar_item__name{
        display: none;
    }
}