  .chat_field {
    display: flex; /*The next 3 lines added after a serious problem with making messageBox sticky at the bottom*/
    flex-direction:column;
    justify-content: space-between;
    width: 60%; 
    height: 100vh; /*to enable chat field scrolling */
    overflow: auto;
  }
  
  .chat_field::-webkit-scrollbar {
    width: 0em; 
  }
  
  .messages_history {
    position: relative;
    top: 10%;
    margin-bottom: 50px;
  }
  