.moderation_card
{
    display: flex;
    align-items:center;
    flex: 0 0 50%; /* 50% width for each element */
}

.moderation_action {
    border: none;
    background-color: transparent;
    outline: none;
    margin: 5px;
}

.user_info {
    display: flex;
    align-items:center;
    gap: 10px;
}

.user_info  h5{
    color: rgb(111, 109, 107);
}

.action_buttons button:hover {
    cursor: pointer;
    border: 0.5px solid rgb(255, 0, 0);
    /* border-radius: 20px; */
}
.action_buttons button img { 
    width: 28px;
    margin-inline: 7px;
    padding-block: 10px;
}


.user_info {
    flex-grow: 1;

}
.action_buttons{
    flex: 0 0 auto; 

}