
.image__full_circle {
  border-radius: 50%;
}

.message_header {
  display: inline-block;
  position: relative;
}

.message_header::before {
  content: var(--black_circle_char); /* Unicode character for a solid circle or any icon you prefer */
  color: var(--online_user_icon); /* Color for the online indicator */
  font-size: calc(var(--message_avatar_size)/5);; /* Adjust the size as needed */
  position: absolute;
  left: 80%;
  bottom:5%;


}

.message_header__avatar {
  height: var(--message_avatar_size);
  width: var(--message_avatar_size);
}

.message_header__visibility_icon {
  height: calc(var(--message_avatar_size)/5);
  width: calc(var(--message_avatar_size)/5);
  position: absolute;
  left: 80%;
  bottom:5%;

  background-color: #1AE304;
}

/*This class styles the main element of message container*/
.message_bubble {
  display: inline-block; /*Making the parent container resizes based on the size of its content*/

  padding: 10px 30px;
  max-width: 50%;

  border-radius: 20px;

  position: relative;
}






/*This class serves a styling for the bubble tail triangle*/

/* |sent message styling| */
.left.message_bubble::after {
  content: "";
  position: absolute;
  bottom: 3px; /* Adjust this value to position the tail */
  left: -15px;
  border-width: 20px; /* Size of the triangle */
  border-style: solid;
  border-color: transparent transparent rgb(128, 128, 202);
  transform: rotate(352deg);
}

.message_bubble___sent_style {
  background-color: rgb(128, 128, 202);
  color: white;
}



/* |received message styling| */

.right.message_bubble::after {
  content: "";
  position: absolute;
  bottom: 0px; /* Adjust this value to position the tail */
  right: -15px;
  border-width: 20px; /* Size of the triangle */
  border-style: solid;
  border-color: transparent transparent rgb(212, 212, 235);
  transform: rotate(8deg);
}

.message_bubble___received_style {
  background-color: rgb(212, 212, 235);
  color: rgb(0, 0, 0);
}





.middlePosition {
  position: relative;
  left: 30px;
}
