:root {
  /*Chat general*/
  --online_user_icon: #1ae304;
  --black_circle_char: "\25CF";

  /*Chat messages*/
  --avatar_size: 70px;
  --message_header_body_spacing: 30px;

  /*Chat chatting box*/
  --chat_text_box_back_color: #cbcae5;

  /*chat-messaging-field*/
  --chat_field_back_color: #efecff;

  /*chat end icon*/
  --send_icon_default_color:rgb(42, 42, 192);
  --send_icon_on_hover_color:rgb(215, 215, 97);


  /*sent message bubble color*/
  --message_sent_bubble_color:#432ea5;
  /*received message bubble color*/
  --message_received_bubble_color:rgb(197, 197, 212);


    /*Discussion Panel*/
    --discussion_panel_back_color: rgb(18, 18, 178);
    --discussion_panel_element_color: white;

    /*Discussion Panel*//*under selection*/
    --discussion_panel_selection_color : rgb(224, 216, 216);
    --discussion_panel_element_selection_color : rgb(0, 0, 0);
  }

